@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

        #upperbar {
            position: relative;
            width: 100vw;
            height: 70px;
            padding: 0;
            margin: 0;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        }

        #upperbar #logo {
            position: absolute;
            top: 10px;
            left: 10px;
            height: 50px;
            width: 170px;
            border-radius: 10px;
        }

        #upperbar #navlist {
            left: 170px;
            position: absolute;
            top: 10px;
            list-style: none;
        }

        #upperbar #navlist .navlistel {
            display: inline;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 10px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 18px;
        }

        .navlistel:hover {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }

        #profile {
            right: 30px;
            position: absolute;
            height: 40px;
            width: 150px;
            border-radius: 10px;
            top: 15px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }

        #profileicon {
            top: 4px;
            left: 15px;
            position: absolute;
            height: 30px;
            width: 30px;
            border-radius: 20px;
            border: 1px solid black;
        }

        #name {
            display: flex; 
            align-items: center; 
            position: relative;
            width: 270px;
            margin-left: 10px;
            margin-top: 5px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        #profile:hover {
            box-shadow: 0px 0px 10px rgba(34, 98, 2, 0.4);
        }

        #notiicon {
            position: absolute;
            height: 25px;
            width: 25px;
        }

        #notidiv {
            position: absolute;
            right: 240px;
            top: 20px;
        }

        #notiicon:hover {
            content: url(notiicon1.png);
        }

        ::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

        #progress {
            position: absolute;
            top: 80px;
            left: 10px;
            border-radius: 20px;
            width: 300px;
            height: 235px;
            overflow-y: auto; /* Enable vertical scrollbar */
            padding: 5px;
            box-shadow: 0px 0px 10px rgba(34, 98, 2, 0.4);
        }

        #progress #proline {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px; 
        }

        .progress-container {
            display: flex; 
            align-items: center; 
            position: relative;
            width: 220px;
            margin-left: 10px;
            margin-bottom: 30px;
            border-radius: 10px;
            background-color: #e1e2e0b0;
        }

        .progress-bar {
            width: 0%;
            height: 20px;
            border-radius: 10px;
            background-color: #4caf50;
        }

        #percentage {
            position: absolute;
            right: -45px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        #button {
            position: absolute;
            left: 400px;
            top: 100px;
            border: 1px solid black;
            border-radius: 10px;
        }

        #button1 {
            position: absolute;
            left: 400px;
            top: 200px;
            border: 1px solid black;
            border-radius: 10px;
        }

        ::-webkit-scrollbar {
            width: 10px; /* Width of the scrollbar */
        }

        #courses-section {
            position: absolute;
            height: 500px;
            width: 500px;
            box-shadow: 0px 0px 10px rgba(34, 98, 2, 0.4);
            right: 20px;
            top: 80px;
            border-radius: 20px;
            overflow-y: auto;
        }

        #course-tagline {
            position: absolute;
            left: 15%;
            font-size: 17px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        #course-box {
            display: flex; 
            align-items: center; 
            position: relative;
            width: 90%;
            height: 70px;
            margin-left: 25px;
            margin-top: 60px;
            box-shadow: 0px 0px 10px rgba(34, 98, 2, 0.4);
            border-radius: 20px;
            cursor: pointer;
        }

        #course-name {
            position:absolute;
            top: -13px;
            left: 20px;
            font-size: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        } 

        #tap-here {
            position: absolute;
            left: 20px;
            top: 23px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
